<script type="text/javascript">
  window.onload = function() {
    setupChosen();
  };
</script>
<div class="panel-body">
  <%= form_for @post do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body %><br>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="form-group">
      <% if @post.id == nil %>
        <%= f.select :tag_list, Tag.all.map { |t| [t.name, t.name] }, {include_blank: false}, {class: 'chosen-select', style: "width:350px;", tabindex: "4", multiple: "" } %>
      <% else %>
        <%= f.select :tag_list, @post.tags.map { |t| [t.name, t.name] }, {include_blank: false}, {class: 'chosen-select', style: "width:350px;", tabindex: "4", multiple: "" } %>
        <%= render "posts/load_tags", post: @post %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
